html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  height: 900px;
  width: 900px;
  margin: 0 auto;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
